evernote3==1.25.12
falcon-cors==1.1.2
falcon==1.2.0
Flask==0.12.2
Flask-request-params==0.3.0
google-cloud-datastore==1.0.0
gunicorn==19.7.1
iso8601utils==0.1.2
marshmallow==3.0.0b3
mongoengine==0.13.0
pymongo==3.4.0
python-memcached==1.58
six==1.10.0
ujson==1.35